body {
	padding-left: 20px;
	padding-right: 20px;
	font-family: sans-serif;
	background-color: #191724;
	color: #e0def4;
	font-size: 22px;
}

h1 {
	text-align: center;
	color: #eb6f92;
	font-size: 48px;
}

h2 {
	font-size: 36px;
	color: #9ccfd8;
}

li {
	font-size: 26px;
	margin-top: 10px;
}

footer {
	position: fixed;
	text-align: center;
  bottom: 0;
	left: 0;
	background-color: #1f1d2e;
	width: 100%;
}

a {
	font-weight: 700;
	color: #ebbcba;
}
